body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header{
    background-color: purple;
    padding: 20px;
    font-size: 1.5rem;
    color: white;
}

.navigation-links{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    margin: 5px 0;
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
}