body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* background-color: red; */
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 40px;
}

.content {
    width: min(700px, 100%);
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
}

.refresh-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 100;
}

#input {
    padding: 5px;
    outline: none;
    margin: 10px;
    /* background-color: grey; */
    /* border: none; */
}


.download-btn:hover {
    background-color: #45a049;
}

.refresh-btn:hover {
    background-color: #0b7dda;
}





.my-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.my-table th,
.my-table td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}